<!-- # Michelle Tang
# SoftDev1 pd6
# K26 -- Getting More REST
# 2018-11-15 -->
<!DOCTYPE html>
    <head>
        <title> I Need Some Rest </title>
    </head>
    <body>
        <h1> FDA Data API: </h1>
        <h3> Search Query for API: Newark </h3>
        <ul>
            <li> Newark || country : {{country}} </li>
            <li> Newark || reason for recall : {{reason}} </li>
            <li> Newark || recall number : {{num}} </li>
            <li> Newark || recall status : {{status}} </li>
        </ul>
        <hr>

        <h1> Cat Fact API: </h1>
        <h3> Getting a cat fact: </h3>
        <ul>
            <li> Cat fact: {{cat}} </li>
        </ul>
        <hr>

        <h1> Dog API </h1>
        <h3> Getting a dog fact: </h3>
        <ul>
            <li> Dog Status: {{ dog }} </li>
            <li> Dog Image: <img src={{pic}}> </li>


        </ul>
    </body>
</html>
