<!-- 
#I've Had Ahnaf, I'm Tangry: Michelle Tang, Ahnaf Kazi
#SoftDev1 pd6
#K15: Oh yes, perhaps I do…  
#2018-10-03
 -->


<!-- More inheritance! -->
{% extends "base.html" %}

<!-- Customized title -->
{% block title %} 
	Welcome {{username}} !
{% endblock %}

<!-- Customized message & ability to log out -->
{% block content %}
   Hi, {{username}}. Nice to meet you.<br>
  <form action="/logout" method="POST"> <br>
    <input type="submit" value="logout" name="logout"></input>
  </form>
{% endblock %}
