<!--
Aaron-gu-tang: Xiaojie(Aaron) Li & Michelle Tang
SoftDev1 pd6
K10 -- Jinja Tuning
2018-09-23
-->

<!DOCTYPE html>
<html>
<head>
    <title>Welcome Page!</title>
    <style>
    * {
        font-family: sans-serif;
    }

    .center {
        text-align: center;
    }

    input[type=submit] {
        width: 10%;
        padding-top: 1em;
        padding-bottom: 1em;
        background-color: #d3dae5;
        border: none;
        cursor: pointer;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 65%;
        height: auto;
    }
    </style>
</head>
<body>
    <h1 class="center">Click Button to See Random Occupation</h1>
    <br><br>
    <form action="/occupations">
        <center> <input type="submit" value="Occupations"> </center>
    </form>
</body>
</html>
